[Unit]
Description=template
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/template
EnvironmentFile=/opt/template/.env
ExecStart=/opt/template/template.mjs

[Install]
WantedBy=multi-user.target
